name: website
on:
  pull_request:

concurrency:
  group: website-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt update
      - run: sudo apt install -y doxygen
      - run: >
          cmake -S . -B ./build
          -DCMAKE_BUILD_TYPE:STRING=Release
          -DBLAZE_COMPILER:BOOL=OFF
          -DBLAZE_EVALUATOR:BOOL=OFF
          -DBLAZE_OUTPUT:BOOL=OFF
          -DBLAZE_LINTER:BOOL=OFF
          -DBLAZE_TEST:BOOL=OFF
          -DBLAZE_CONFIGURATION:BOOL=OFF
          -DBLAZE_TESTS:BOOL=OFF
          -DBLAZE_DOCS:BOOL=ON
      - run: cmake --build ./build --config Release --target doxygen
